/* General*/
body {
    padding-top: 85px;
    font-family: 'changa one', sans-serif;
}

.gallery-title {
  border-bottom: 5px solid #95B7ED;
  text-align: center;
}

/* Navigation */
#nav {
  background-color: black;
  color: #fff;
}
ul {
    text-align: center;
}

.title-name, .job-title{
    text-align: center;

}

.title-name {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 0.8em;

}

.job-title {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;

}


.nav-row li {
  color: #0399ff;
  font-weight: 700;
  text-decoration: none;
}

/*changes text color to yellow apon hovering */
.nav-row li:hover {
  color: yellow;
}


/* About */
#about {
    color: white;
    height: 376px;
  }

  #about h3 {
    font-style: italic;
    color: black;
    margin: 40px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: #efefef;
    display: table;
    text-shadow: 2px 2px 1px darkgrey;
}

.img-me {
  border: 3px solid #fff;
  width: 37%;
  margin-top: 25px;
  text-align: center;
}


.background-image {
  background: url("../img/Druid.jpg") no-repeat center; /*question at meetup*/
  background-size: cover;
  margin-bottom: 10px;
  text-align: center;
}

.jumbotron p {
  text-shadow: 2px 2px 1px #e60b0b;
  font-size: 1.15em;
}



/* Portfolio section*/



#portfolio {

    background-color: beige;
    padding: 50px;
    list-style: none;

}

#gallery  a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
  list-style: none;
}





/* contact page */

#contact {
    background-color: #ed1414;
    text-align: center;
}

#contact i {
    padding: 5px 5px 5px 5px;
}

.social-buttons {
  text-align: right;
}

#email em {
  display: block;
  border-width:0px;
  background-color:inherit;
}

#codecamp {
  background: rgb(0, 100, 0);
  border-width: 0px;
  height: 8px;
  width: 42px;
  padding: 4px 3px 30px 3px;
  border-radius: 50px;

}
/*buttons */

#linkedin {
    border-width: 0px;
    height: 40px;
    width: 55px;
    padding: 6px 5.5px 47px 6px;
    margin: 10px;
    border-radius: 35px;
}

#github {
    border-width: 0px;
    height: 40px;
    width: 55px;
    padding: 5px 4.5px 45px 5px;
    margin: 10px;
    border-radius: 40px;
}

#codepen {
  background: #000000;
  border-width: 0px;
  height: 40px;
  width: 55px;
  padding: 5px 4.5px 45px 5px;
  margin: 10px;
  border-radius: 40px;
}

/*footer */
footer {
  text-align: center;
}




/*Displays name and title in navigation*/
@media screen and (min-width: 480px) {
  .title-name, .job-title {
      text-align: left;

}

.title-name {
  font-size: 2.5em;
}

.job-title {
  font-size: 1em;
}

  .nav-row {
    position: absolute;
    top: 17px;
    right: 22px;
    margin: 5px 15px 10px 10px;
    word-spacing: 1em;
    font-size: 1.2em;

  }

  #nav {
    height: 90px;
  }

  .nav-row li {
    display: inline-block;
    color: #0399ff;
    font-weight: 700;

  }

  ul {
    padding-top: 17px;
    max-width: 1200px;
  }

  #about,
  #portfolio {
    margin-right: 2px;
  }

  .img-me {
    width: 20%;
    margin-top: -5px;
  }

  #about h3 {
    margin-top: -5px;
  }

  .jumbotron p {
    font-size: 1.2em;
  }

}
